

<div class="row" style="margin-top: 80px">
	<div class="span16">
		
	<h2>Contact</h2></br>	
	<p>
		<b>Mathieu SAURY</b></br>
		<%=  mail_to "mathieu.saury@gmail.com" %><br/>
		<b>Cell: (347) 471 7506</b></br></br>
		<b>255 Warren St. </b></br>
		<b>	Apt#2006 </b></br>
		<b>Jersey City, NJ</b></br>
		<b>07032</b></br>
	</p>
			
	</div>
</div> 

<%= link_to 'Back to Home', posts_path %>