<div class="hero-unit">
</div>

<div class="row">
	<div class="span16">
		<h1>Contact</h1>
		 
		<p>
		  <b>Name:</b>
		  <%= @contact.name %>
		</p>
		
	</div>
</div> 

<%= link_to 'Back to Posts', posts_path %> |