<!DOCTYPE html>
<html>
<head>
  <title>Mathieusaury</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag "mathieusaury.js", 
  								"jquery.js",
  								"rails.js" %>
  <%= csrf_meta_tags %>
</head>
<body style="background: #EEEEEE;">
	
<%= yield %>

</body>
</html>
